$violet: rgb(230, 2, 255);
$hover-violet: rgba(230, 2, 255, 0.85);
$aquamarine: rgb(0, 251, 255);
$soft-black: rgb(57, 57, 57);
$dark-grey: rgb(98, 98, 98);
$grey: rgb(128, 128, 128);
$medium-grey: rgba(128, 128, 128, 0.5);

* {
  margin: 0;
  box-sizing: border-box;
  font: 400 16px 'Source Sans Pro', sans-serif;
}

body {
  min-height: 100vh;
  padding-top: 2%;
  overflow: hidden;
  background: linear-gradient(to right, $violet, $aquamarine);
  color: $soft-black;
}

h1,
h2 {
  margin: 0;
}

.container {
  margin: 0 auto;
  padding: 40px 40px 32px 40px;
  max-width: 576px;
  max-height: 550px;
  background: white;
  border-radius: 15px;
  box-shadow: -1px 3px 6px $medium-grey;
}

.to-do-list {
  h1 {
    font-size: 34px;
    font-weight: 700;
    text-transform: uppercase;
  }

  .input-wrap {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;

    .input-task {
      margin-right: 5px;
      padding: 10px;
      width: 90%;
      border: none;
      border: 1px solid $medium-grey;
      border-radius: 7px;
      outline: none;

      &:focus-visible {
        outline: none;
        box-shadow: 0 0 0 1px $soft-black;
      }
    }

    .add-button {
      padding: 10px 18px;
      text-transform: capitalize;
      background: $violet;
      color: white;
      border: 1px solid $violet;
      border-radius: 7px;
      cursor: pointer;
      transition: 0.5s ease-in-out;

      &:hover {
        background: $hover-violet;
        color: white;
        box-shadow: 0 1px 5px 0 $medium-grey;
      }

      &:focus-visible {
        outline: none;
        box-shadow: 0 0 0 1px $soft-black;
      }
    }
  }

  .tasks-wrap {
    margin-top: 10px;

    .delete-button-tasks {
      margin-bottom: 8px;
      padding: 8px 10px;
      background: $grey;
      color: white;
      border: 1px solid $medium-grey;
      border-radius: 7px;
      cursor: pointer;
      transition: 0.5s ease-in-out;

      &:hover {
        background: $dark-grey;
        color: white;
        box-shadow: 0 1px 5px 0 $medium-grey;
      }

      &:focus-visible {
        outline: none;
        box-shadow: 0 0 0 1px $soft-black;
      }
    }

    h2 {
      margin-top: 16px;
      text-align: center;
      font-size: 23px;
      text-transform: capitalize;
    }
  }

  .active-tasks {
    padding-right: 10px;
    max-height: 264px;
  }

  .scroll-bar {
    overflow-x: hidden;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-track {
      background: $medium-grey;
      border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background: $grey;
      border-radius: 4px;
    }
  }
}

.task-wrap {
  margin-top: 8px;
  padding: 10px 0;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $medium-grey;

  .input-task {
    display: flex;

    .check {
      position: relative;
      padding-left: 30px;
      display: flex;
      align-items: center;

      &__input {
        position: absolute;
        appearance: none;
      }

      &__box {
        position: absolute;
        margin-left: -30px;
        width: 24px;
        height: 24px;
        background: url('../img/check.svg');
        cursor: pointer;
      }
    }

    .text {
      max-width: 375px;
      overflow-wrap: break-word;
      background: #fff;
      cursor: auto;

      &:focus {
        outline: none;
      }
    }
  }
}

.action-task {
  display: inline-flex;

  .edit-text {
    margin-right: 10px;
    width: 24px;
    height: 24px;
    background: url('../img/rename.svg');
    cursor: pointer;
  }

  .save-text {
    width: 32px;
    height: 24px;
    margin-right: 10px;
    background: none;
    line-height: 24px;
    color: $violet;
    cursor: pointer;
  }

  .bin {
    width: 24px;
    height: 24px;
    background: url('../img/bin.svg');
    cursor: pointer;

    &:active {
      background: url('../img/bin-on-active.svg');
    }
  }
}

.check__input[data-checked='true'] + .check__box {
  background: url('../img/check-on-checked.svg');
}

.task_completed {
  color: $medium-grey;
  text-decoration: line-through;
}

.error-message {
  margin-top: 5px;
  color: tomato;
}
