$violet: rgb(230, 2, 255);
$hover-violet: rgba(230, 2, 255, 0.85);
$aquamarine: rgb(0, 251, 255);
$soft-black: rgb(57, 57, 57);
$dark-grey: rgb(98, 98, 98);
$medium-grey: rgba(128, 128, 128, 0.5);
$grey: rgb(128, 128, 128);